
@import 'variables';

@mixin button {
    padding: $sm $md;
    font-size: $size-18;
    font-weight: 600;
    border-radius: $sm;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
}

@mixin buttonHover {
    // filter: hue-rotate(30deg);
    background-color: darken($primary, 10%);
}